@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base {
  :root {
    --radius: 0.5rem
  ;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }
} */
@layer utilities {

  .file-upload {
    @apply  flex cursor-pointer  flex-col items-center justify-center gap-3  text-black rounded-md  border-2 border-black   ;
  }

  .file-upload_label {
    @apply flex flex-col justify-center gap-2 text-center text-black;
  }


}
.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* Optional: Hide scrollbar for Internet Explorer and Edge */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
}
.jakarta {
  font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}
.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}